<br><a class="pull-right" style="cursor:pointer;" ng-click="logout()">Click here to logout</a>

<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown">List View
   <span class="caret"></span>
  </a>
    <ul class="dropdown-menu" id="viewDropdown">
        <!--<li ng-repeat="room in rooms"><a style="cursor:pointer;" ng-click="change_room(room)">{{room}}</a></li>-->
        <li><a style="cursor:pointer;">More Views Coming Soon</a></li>
    </ul>
</div>

<!-- Trigger Add Class modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#classModal">Add Class</button>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#taskModal">Add Assignment</button>

<!--<h3 style="display:inline;"><span class="label label-default">{{current_room}}</span></h4>-->

<div class="panel panel-default">
    <div class="panel-body" style="height: 500px; overflow-y: scroll; background-color: #F0F0F0" id="tasks">
    </div>
</div>

<!-- Add Class Modal -->
<div class="modal fade" id="classModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Class Name:</label>
                        <input type="text" class="form-control" id="recipient-name" ng-model="class_to_add.name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Color:</label>
                        <div class="dropdown">
                            <button ng-style="{'background-color': class_to_add.color}" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pick Class Color</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <color-picker ng-model="class_to_add.color"></color-picker>
                            </div>
                        </div>
                        <!--<color-picker ng-model="color"></color-picker>-->
                        <!--<textarea class="form-control" id="message-text" ng-model="class_to_add.teacher"></textarea>-->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addClass()">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Task Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Class</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="input-group">

                        <!-- Date Picker Stuff -->
                        <div>
                            <a class="btn dropdown-toggle" data-toggle="dropdown">Select Duedate
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="viewDropdown">
                                <!--<li ng-repeat="room in rooms"><a style="cursor:pointer;" ng-click="change_room(room)">{{room}}</a></li>-->
                                <date-picker ng-model="task.date"></date-picker>
                            </ul>
                        </div>

                        <!-- Class Picker Stuff -->
                        <div>
                            <a class="btn dropdown-toggle" data-toggle="dropdown">Select Class
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="class in classes"><a style="cursor:pointer;" ng-click="pickClass(class)">{{class.name}}</a></li>
                            </ul>
                        </div>

                        <input type="text" class="form-control" disabled="disabled" placeholder="Duedate" ng-model="task.date">
                        <input type="text" class="form-control" disabled="disabled" placeholder="Class" ng-model="task.class.name">
                        <!--<input type="text" class="form-control" placeholder="Type a Date..." ng-model="task.date">-->
                        <input type="text" class="form-control" placeholder="Type a task..." ng-model="task.task">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addTask()">Add</button>
            </div>
        </div>
    </div>
</div>